{:dependencies [[re-view "0.4.4"]
                [re-frame "0.10.2"]
                [day8.re-frame/trace "0.1.7"]
                [binaryage/devtools "0.9.7"]]
 :source-paths ["src"]
 :builds       {:browser {:target           :browser
                          :modules          {:base {:entries [shadow-re-frame.core]}}
                          :output-dir       "resources/public/js/compiled"
                          :asset-path       "/js/compiled"
                          :compiler-options {:closure-defines {re-frame.trace.trace-enabled? true}}
                          :js-options       {:resolve {"d3" {:target      :npm
                                                             :require     "d3/build/d3.js"
                                                             :require-min "d3/build/d3.min.js"}}}
                          :devtools         {:http-root    "resources/public"
                                             :http-handler shadow.http.push-state/handle
                                             :http-port    8700
                                             :after-load   shadow-re-frame.core/render
                                             :preloads     [devtools.preload
                                                            day8.re-frame.trace.preload]}}}}
