{:dependencies [[re-view "0.4.4"]
                [re-frame "0.10.2"]
                [day8.re-frame/trace "0.1.7"]
                [binaryage/devtools "0.9.7"]]
 :source-paths ["src"]
 :builds       {:browser {:target           :browser
                          :modules          {:base {:entries [shadow-re-frame.core]}}
                          :output-dir       "resources/public/js/compiled"
                          :asset-path       "/js/compiled"
                          :compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}
                          :js-options       {:resolve {"cljsjs.react"              {:target :global
                                                                                    :global "React"}
                                                       "cljsjs.react.dom"          {:target :global
                                                                                    :global "ReactDOM"}
                                                       "cljsjs.create-react-class" {:target :global
                                                                                    :global "createReactClass"}
                                                       "cljsjs.d3"                 {:target :global
                                                                                    :global "d3"}}}
                          :devtools         {:http-root    "resources/public"
                                             :http-handler shadow.http.push-state/handle
                                             :http-port    8700
                                             :after-load   shadow-re-frame.core/render
                                             :preloads     [devtools.preload
                                                            day8.re-frame.trace.preload]}}}}
