[{:module-id :base,
  :name :base,
  :output-name "base.js",
  :entries
  [devtools.preload
   day8.re-frame.trace.preload
   shadow-re-frame.simple],
  :depends-on nil,
  :sources
  ["goog/base.js"
   "goog/debug/error.js"
   "goog/dom/nodetype.js"
   "goog/string/string.js"
   "goog/asserts/asserts.js"
   "goog/reflect/reflect.js"
   "goog/math/long.js"
   "goog/math/integer.js"
   "goog/object/object.js"
   "goog/array/array.js"
   "goog/structs/structs.js"
   "goog/functions/functions.js"
   "goog/math/math.js"
   "goog/iter/iter.js"
   "goog/structs/map.js"
   "goog/uri/utils.js"
   "goog/uri/uri.js"
   "goog/string/stringbuffer.js"
   "cljs/core.cljs"
   "devtools/defaults.cljs"
   "devtools/prefs.cljs"
   "devtools/context.cljs"
   "clojure/string.cljs"
   "cljs/stacktrace.cljc"
   "devtools/hints.cljs"
   "goog/labs/useragent/util.js"
   "goog/labs/useragent/browser.js"
   "goog/labs/useragent/engine.js"
   "goog/labs/useragent/platform.js"
   "goog/useragent/useragent.js"
   "clojure/set.cljs"
   "clojure/data.cljs"
   "devtools/version.cljs"
   "cljs/pprint.cljs"
   "devtools/util.cljs"
   "devtools/format.cljs"
   "devtools/protocols.cljs"
   "devtools/reporter.cljs"
   "clojure/walk.cljs"
   "devtools/munging.cljs"
   "devtools/formatters/helpers.cljs"
   "devtools/formatters/state.cljs"
   "devtools/formatters/templating.cljs"
   "devtools/formatters/printing.cljs"
   "devtools/formatters/markup.cljs"
   "devtools/formatters/budgeting.cljs"
   "devtools/formatters/core.cljs"
   "devtools/formatters.cljs"
   "goog/debug/entrypointregistry.js"
   "goog/dom/htmlelement.js"
   "goog/dom/tagname.js"
   "goog/async/nexttick.js"
   "devtools/async.cljs"
   "devtools/toolbox.cljs"
   "devtools/core.cljs"
   "devtools/preload.cljs"
   "mranderson047/garden/v1v3v3/garden/types.cljc"
   "goog/string/stringformat.js"
   "mranderson047/garden/v1v3v3/garden/util.cljc"
   "mranderson047/garden/v1v3v3/garden/color.cljc"
   "mranderson047/garden/v1v3v3/garden/compression.cljc"
   "mranderson047/garden/v1v3v3/garden/selectors.cljc"
   "cljs/tools/reader/impl/utils.cljs"
   "cljs/tools/reader/reader_types.cljs"
   "cljs/tools/reader/impl/inspect.cljs"
   "cljs/tools/reader/impl/errors.cljs"
   "cljs/tools/reader/impl/commons.cljs"
   "cljs/tools/reader.cljs"
   "cljs/tools/reader/edn.cljs"
   "cljs/reader.cljs"
   "mranderson047/garden/v1v3v3/garden/units.cljc"
   "mranderson047/garden/v1v3v3/garden/compiler.cljc"
   "mranderson047/garden/v1v3v3/garden/core.cljc"
   "day8/re_frame/trace/common_styles.cljs"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/debug.cljs"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/interop.cljs"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/impl/util.cljs"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/impl/batching.cljs"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/ratom.cljs"
   "day8/re_frame/trace/utils/re_com.cljs"
   "day8/re_frame/trace/utils/utils.cljs"
   "shadow/process.js"
   "shadow/js.js"
   "node_modules/object-assign/index.js"
   "node_modules/fbjs/lib/emptyObject.js"
   "node_modules/fbjs/lib/invariant.js"
   "node_modules/fbjs/lib/emptyFunction.js"
   "node_modules/react/cjs/react.production.min.js"
   "node_modules/react/index.js"
   "node_modules/create-react-class/factory.js"
   "node_modules/create-react-class/index.js"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/impl/component.cljs"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/impl/template.cljs"
   "node_modules/fbjs/lib/ExecutionEnvironment.js"
   "node_modules/fbjs/lib/EventListener.js"
   "node_modules/fbjs/lib/shallowEqual.js"
   "node_modules/fbjs/lib/isNode.js"
   "node_modules/fbjs/lib/isTextNode.js"
   "node_modules/fbjs/lib/containsNode.js"
   "node_modules/fbjs/lib/focusNode.js"
   "node_modules/fbjs/lib/getActiveElement.js"
   "node_modules/react-dom/cjs/react-dom.production.min.js"
   "node_modules/react-dom/index.js"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/dom.cljs"
   "mranderson047/reagent/v0v8v0_alpha2/reagent/core.cljs"
   "node_modules/react-flip-move/dist/react-flip-move.cjs.js"
   "cljsjs/react_flip_move.cljs"
   "day8/re_frame/trace/utils/animated.cljs"
   "goog/color/names.js"
   "goog/color/color.js"
   "goog/events/browserfeature.js"
   "goog/disposable/idisposable.js"
   "goog/disposable/disposable.js"
   "goog/events/eventid.js"
   "goog/events/event.js"
   "goog/events/eventtype.js"
   "goog/events/browserevent.js"
   "goog/events/listenable.js"
   "goog/events/listener.js"
   "goog/events/listenermap.js"
   "goog/events/events.js"
   "goog/fx/transition.js"
   "goog/events/eventtarget.js"
   "goog/fx/transitionbase.js"
   "goog/async/animationdelay.js"
   "goog/promise/thenable.js"
   "goog/async/freelist.js"
   "goog/async/workqueue.js"
   "goog/async/run.js"
   "goog/promise/resolver.js"
   "goog/promise/promise.js"
   "goog/timer/timer.js"
   "goog/async/delay.js"
   "goog/fx/anim/anim.js"
   "goog/fx/animation.js"
   "goog/dom/browserfeature.js"
   "goog/dom/asserts.js"
   "goog/dom/tags.js"
   "goog/string/typedstring.js"
   "goog/string/const.js"
   "goog/html/safescript.js"
   "goog/fs/url.js"
   "goog/i18n/bidi.js"
   "goog/html/trustedresourceurl.js"
   "goog/html/safeurl.js"
   "goog/html/safestyle.js"
   "goog/html/safestylesheet.js"
   "goog/html/safehtml.js"
   "goog/dom/safe.js"
   "goog/html/uncheckedconversions.js"
   "goog/math/coordinate.js"
   "goog/math/size.js"
   "goog/dom/dom.js"
   "goog/dom/vendor.js"
   "goog/html/legacyconversions.js"
   "goog/math/box.js"
   "goog/math/irect.js"
   "goog/math/rect.js"
   "goog/style/style.js"
   "goog/useragent/platform.js"
   "goog/useragent/product.js"
   "goog/useragent/product_isversion.js"
   "goog/style/bidi.js"
   "goog/fx/dom.js"
   "mranderson047/re_frame/v0v10v2/re_frame/interop.cljs"
   "mranderson047/re_frame/v0v10v2/re_frame/db.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/loggers.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/utils.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/registrar.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/interceptor.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/trace.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/events.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/subs.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/router.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/fx.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/cofx.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/std_interceptors.cljc"
   "mranderson047/re_frame/v0v10v2/re_frame/core.cljc"
   "day8/re_frame/trace/view/components.cljs"
   "day8/re_frame/trace/view/app_db.cljs"
   "day8/re_frame/trace/view/timing.cljs"
   "day8/re_frame/trace/view/settings.cljs"
   "day8/re_frame/trace/view/event.cljs"
   "day8/re_frame/trace/styles.cljs"
   "cljsjs/react.cljs"
   "cljsjs/create_react_class.cljs"
   "reagent/debug.cljs"
   "reagent/interop.cljs"
   "reagent/impl/util.cljs"
   "reagent/impl/batching.cljs"
   "reagent/ratom.cljs"
   "reagent/impl/component.cljs"
   "reagent/impl/template.cljs"
   "cljsjs/react/dom.cljs"
   "reagent/dom.cljs"
   "reagent/core.cljs"
   "re_frame/interop.cljs"
   "re_frame/db.cljc"
   "day8/re_frame/trace/view/subs.cljs"
   "day8/re_frame/trace/view/views.cljs"
   "day8/re_frame/trace/utils/pretty_print_condensed.cljs"
   "day8/re_frame/trace/view/traces.cljs"
   "day8/re_frame/trace/metamorphic.cljc"
   "day8/re_frame/trace/view/debug.cljs"
   "re_frame/loggers.cljc"
   "re_frame/trace.cljc"
   "day8/re_frame/trace/view/container.cljs"
   "cljs/spec/gen/alpha.cljs"
   "cljs/spec/alpha.cljs"
   "day8/re_frame/trace/subs.cljs"
   "goog/json/json.js"
   "goog/storage/errorcode.js"
   "goog/storage/storage.js"
   "goog/storage/mechanism/errorcode.js"
   "goog/storage/mechanism/mechanism.js"
   "goog/storage/mechanism/iterablemechanism.js"
   "goog/storage/mechanism/html5webstorage.js"
   "goog/storage/mechanism/html5localstorage.js"
   "day8/re_frame/trace/utils/localstorage.cljs"
   "day8/re_frame/trace/events.cljs"
   "day8/re_frame/trace/db.cljs"
   "day8/re_frame/trace.cljs"
   "day8/re_frame/trace/preload.cljs"
   "re_frame/utils.cljc"
   "re_frame/registrar.cljc"
   "re_frame/interceptor.cljc"
   "re_frame/events.cljc"
   "re_frame/subs.cljc"
   "re_frame/router.cljc"
   "re_frame/fx.cljc"
   "re_frame/cofx.cljc"
   "re_frame/std_interceptors.cljc"
   "re_frame/core.cljc"
   "re_view/re_frame_simple.cljs"
   "shadow_re_frame/welcome.cljs"
   "shadow_re_frame/simple.cljs"
   "shadow/module/base/append.js"]}]
